@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    zoom: 0.9;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

:root {
    --cor-primaria: #313866;
    --cor-secundaria: #ff97ec;
    --cor-terciaria: #971ce4;
    --cor-hover: #504099;

    --fonte-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
font-family:var(--font-secundaria);
font-size: 1.5rem;
font-weight: 600;
color: var(--cor-terciaria);
text-decoration: none;
}




.apresentacao{
    margin: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo {
width: 615px;
display: flex;
flex-direction: column;
gap: 40px;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);

}

.apresentacao__conteudo__texto {
    font-size: 1.25rem;
    font-family: var(--font-secundaria);
}

.apresentacao_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao_links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.25rem;

}

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
    padding: 3%;
}

.rodape {
    position: absolute;
    width: 100%;
    padding: 26px;
    box-sizing: border-box;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria );
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 1.25rem;
}

@media (max-width: 1200px) {
    .cabecalho{
         padding: 10%;  
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
}
